@charset "UTF-8";

* {
    border: 1px solid;
}

body {
    background-color: azure;
    color: blue;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
}

/* @media only screen and (min-width: 600px) {
    body {
        background-color: red;
    }
} */

h1 {
    background-color: black; padding: 20px;
    color: coral;
}

.container {
    background-color: beige;
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.item {
    background-color: darkgreen;
    color: lightgreen;
    padding: 10px;
}

.item1 {
    height: 50px;
    width: 50px;
}

.item2 {
    height: 70px;
    width: 70px;
}

.item3 {
    height: 90px;
    width: 90px;
}